// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

 /dts-v1/;

#include "rk3566-firefly-aiojd4.dtsi"

/ {
    model = "AIO-3566JD4 MIPI HSTM101014-BE45-B1 (Android)";
    compatible = "rockchip,rk3566-firefly-aiojd4", "rockchip,rk3566";

    backlight: backlight {
        status = "okay";
        compatible = "pwm-backlight";
        enable-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
        pwms = <&pwm4 0 50000 1>;
        brightness-levels = <
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  61  62  63
             64  65  66  67  68  69  70  71
             72  73  74  75  76  77  78  79
             80  81  82  83  84  85  86  87
             88  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    backlight1: backlight1 {
        status = "okay";
        compatible = "pwm-backlight";
        enable-gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
        pwms = <&pwm0 0 50000 1>;
        brightness-levels = <
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  60  60  60
             60  60  60  60  60  61  62  63
             64  65  66  67  68  69  70  71
             72  73  74  75  76  77  78  79
             80  81  82  83  84  85  86  87
             88  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 24 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };
};

&pwm4{
	status = "okay";
};

&pwm0{
	status = "okay";
	pinctrl-0 = <&pwm0m1_pins>;
};

&route_dsi0 {
    status = "disabled";
    connect = <&vp0_out_dsi0>;
};

&video_phy0 {
    status = "disabled";
};

&dsi0_in_vp0 {
    status = "disabled";
};

&dsi0_in_vp1 {
    status = "disabled";
};

/*
 * video_phy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi0 {
    status = "disabled";
    //rockchip,lane-rate = <1000>;
    dsi0_panel: panel@0 {
        status = "okay";
        compatible = "simple-panel-dsi";
        reg = <0>;
	    backlight = <&backlight>;

        enable-gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
        //reset-tp-gpio =  <&gpio0 RK_PB5 IRQ_TYPE_LEVEL_LOW>;
        enable-delay-ms = <35>;
        prepare-delay-ms = <6>;
        reset-delay-ms = <25>;
        init-delay-ms = <55>;
        unprepare-delay-ms = <0>;
	    disable-delay-ms = <20>;
        mipi-data-delay-ms = <200>;
        size,width = <120>;
        size,height = <170>;
        dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
        dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <4>;

        panel-init-sequence = [
            05 78 01 11
            05 32 01 29
        ];

        panel-exit-sequence = [
            05 00 01 28
            05 00 01 10
        ];

        disp_timings0: display-timings {
            native-mode = <&dsi0_timing0>;
            dsi0_timing0: timing0 {
                clock-frequency = <72600000>;//<80000000>;
                hactive = <800>;//<768>;
                vactive = <1280>;
                hsync-len = <14>;   //20, 50,10
                hback-porch = <26>; //50, 56,10
                hfront-porch = <32>;//50, 30,180
                vsync-len = <8>;//4
                vback-porch = <20>;//4
                vfront-porch = <80>;//8
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
        };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                panel_in_dsi: endpoint {
                    remote-endpoint = <&dsi_out_panel>;
                };
            };
        };
    };

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@1 {
            reg = <1>;
            dsi_out_panel: endpoint {
            remote-endpoint = <&panel_in_dsi>;
            };
        };
	};
};

&route_dsi1 {
    status = "okay";
    connect = <&vp1_out_dsi1>;
};

&video_phy1 {
    status = "okay";
};

&dsi1_in_vp0 {
    status = "disabled";
};

&dsi1_in_vp1 {
    status = "okay";
};

/*
 * video_phy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
    status = "okay";
    //rockchip,lane-rate = <1000>;
    dsi1_panel: panel@0 {
        status = "okay";
        compatible = "simple-panel-dsi";
        reg = <0>;
        backlight = <&backlight1>;

        enable-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
	    reset-gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
        //tp-reset-delay-ms = <20>;
        enable-delay-ms = <120>;
        prepare-delay-ms = <20>;
        reset-delay-ms = <20>;
        init-delay-ms = <20>;
        unprepare-delay-ms = <20>;
        disable-delay-ms = <20>;
        //mipi-data-delay-ms = <200>;
        size,width = <120>;
        size,height = <170>;
        dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
        dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <4>;

        panel-init-sequence = [
            05 78 01 11
            05 32 01 29
        ];

        panel-exit-sequence = [
            05 00 01 28
            05 00 01 10
        ];

        disp_timings1: display-timings {
            native-mode = <&dsi1_timing0>;
            dsi1_timing0: timing0 {
                clock-frequency = <72600000>;//<80000000>;
                hactive = <800>;//<768>;
                vactive = <1280>;
                hsync-len = <14>;   //20, 50,10
                hback-porch = <26>; //50, 56,10
                hfront-porch = <32>;//50, 30,180
                vsync-len = <8>;//4
                vback-porch = <20>;//4
                vfront-porch = <80>;//8
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
        };


        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                panel_in_dsi1: endpoint {
                    remote-endpoint = <&dsi1_out_panel>;
                };
            };
        };
	};

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@1 {
            reg = <1>;
            dsi1_out_panel: endpoint {
            remote-endpoint = <&panel_in_dsi1>;
            };
        };
	};
};

&i2c1 {
    status = "okay";
    focaltech@38 {
    status = "disabled";
        compatible = "focaltech,ft8201";
        reg = <0x38>;
        //focaltech,power-gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
        focaltech,irq-gpio = <&gpio4 RK_PC3 IRQ_TYPE_LEVEL_LOW>;
        focaltech,reset-gpio = <&gpio4 RK_PA6 GPIO_ACTIVE_LOW>;
        focaltech,display-coords =  <0 0 800 1280>;// x_min, y_min, x_max, y_max
        focaltech,max-touch-number = <5>;
        //focaltech,have-key;
        //focaltech,key-number = <3>;
    };

    hxchipset@48{
        status = "okay";
        compatible = "himax,hxcommon";
        reg = <0x48>;

        himax,rst-gpio = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
        himax,irq-gpio = <&gpio4 RK_PC3 IRQ_TYPE_LEVEL_LOW>;
        //himax,3v3-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
        //himax,pon-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;

        himax,panel-coords = <0 800 0 1280>;      //触摸范围
        himax,display-coords = <0 800 0 1280>;    //分辨率
        report_type = <1>;
    };
};

&i2c2 {
	status = "okay";

    focaltech@38 {
        status = "disabled";
        compatible = "focaltech,ft8201";
        reg = <0x38>;
        //focaltech,power-gpio = <&pca9555 PCA_IO0_7 GPIO_ACTIVE_HIGH>;
        focaltech,irq-gpio = <&gpio0 RK_PA5 IRQ_TYPE_LEVEL_LOW>;
        focaltech,reset-gpio = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
        focaltech,display-coords =  <0 0 800 1280>;// x_min, y_min, x_max, y_max
        focaltech,max-touch-number = <5>;
        //focaltech,have-key;
        //focaltech,key-number = <3>;
    };

    hxchipset@48{ 
        status = "okay";
        compatible = "himax,hxcommon";
        reg = <0x48>;                   
    
        himax,rst-gpio = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
        himax,irq-gpio = <&gpio0 RK_PA5 IRQ_TYPE_LEVEL_LOW>;
        //himax,3v3-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
        //himax,pon-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
                
        himax,panel-coords = <0 800 0 1280>;      //触摸范围
        himax,display-coords = <0 800 0 1280>;    //分辨率
        report_type = <1>;
    };
};

&route_hdmi {
    status = "disabled";
    connect = <&vp0_out_hdmi>;
};

&hdmi {
    status = "disabled";
};

&hdmi_in_vp0 {
    status = "disabled";
};

&hdmi_in_vp1 {
    status = "disabled";
};
