// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-firefly-port.dtsi"

/ {

	vcc_hub_power: vcc-hub-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_hub_power_en>;
		regulator-name = "vcc_hub_power_en";
		regulator-always-on;
	};

	vcc_hub_reset: vcc-hub-reset-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_hub_reset_en>;
		regulator-name = "vcc_hub_reset_en";
		regulator-always-on;
	};

    pcie_pi6c_oe: pcie-pi6c-oe-regulator {
		compatible = "regulator-fixed";
		//enable-active-high;
		gpio = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_pi6c_oe_en>;
		regulator-name = "pcie_pi6c_oe_en";
		regulator-always-on;
	};

    vcc_4g_power: vcc-4g-power-regulator {
        compatible = "regulator-fixed";
        enable-active-high;
        gpio = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&vcc_4g_power_en>;
        regulator-name = "vcc_4g_power_en";
        regulator-always-on;
    };

	firefly_leds: leds {
		status = "okay";
		compatible = "gpio-leds";

		power_led: power {
			label = "firefly:blue:power";
			linux,default-trigger = "ir-power-click";
			default-state = "on";
			gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&led_power>;
		};

		user_led: user {
			label = "firefly:yellow:user";
			linux,default-trigger = "ir-user-click";
			default-state = "off";
			gpios = <&pca9555 PCA_IO1_2 GPIO_ACTIVE_LOW>;
		};

		fan_ctl: fan-ctl {
			label = "firefly:fan_ctl:user";
			linux,default-trigger = "ir-user-click";
			default-state = "on";
			gpios = <&pca9555 PCA_IO1_0 GPIO_ACTIVE_HIGH>;
		};
	};
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "disabled";
	/*
	* dphy1 only used for split mode,
	* can be used  concurrently  with dphy2
	* full mode and split mode are mutually exclusive
	*/
};

&csi2_dphy2 {
	status = "okay";
	/*
	* dphy2 only used for split mode,
	* can be used  concurrently  with dphy1
	* full mode and split mode are mutually exclusive
	*/
};

&rkisp_vir0 {
	status = "disabled";
};

&rkisp_vir1 {
	status = "disabled";
};

&i2c1 {
    status = "okay";
};

&i2c4 {
	status = "okay";
};

&pca9555 {
    status = "okay";
};

&i2c5 {
    status = "okay";
};

&hym8563 {
    status = "okay";
};

&mc3230 {
    status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
    status = "okay";
};

&spi1 {
	status = "okay";
};

&spi_wk2xxx {
	status = "okay";
};

&pcie30phy {
       status = "okay";
};

&pcie3x2 {
        reset-gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
        vpcie3v3-supply = <&pcie30_3v3>;

       status = "okay";
};

&its {
    status = "okay";
};

&can1 {
    status = "okay";
};

&can2 {
    status = "okay";
};

&gmac0 {
    status = "okay";
};

&gmac1 {
    status = "okay";
};

&rgmii_phy0 {
	led_status_value = <0x6940>;
};

&rgmii_phy1 {
	led_status_value = <0x6940>;
};

&uart8 {
	status = "okay";
};

&sdio_pwrseq {
	status = "okay";
	reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	post-power-on-delay-ms = <100>;
};

&sdmmc2 {
	status = "okay";
	max-frequency = <100000000>;
};

&wireless_wlan {
	wifi_chip_type = "ap6275s";
	status = "okay";
};

&wireless_bluetooth {
	BT,wake_gpio     = <&gpio3 RK_PB5 GPIO_ACTIVE_HIGH>;
	BT,wake_host_irq = <&gpio2 RK_PD7 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&spdif_8ch{
    status = "disabled";
};

&rk809_codec {
    hp-ctl-gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
};

&rk809 {
    rtc {
        status = "disabled";
    };
};

&pwm7 {
	status = "okay";
};

&pwm11 {
	status = "okay";
	pinctrl-0 = <&pwm11m1_pins>;
};

&sata2 {
	status = "okay";
};

&pinctrl {

	usb {
		vcc_hub_power_en: vcc-hub-power-en {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc_hub_reset_en: vcc-hub-reset-en {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

    pcie {
        pcie_pi6c_oe_en: pcie-pi6c-oe-en {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
    };

	4g {
	    vcc_4g_power_en: vcc-4g-power-en {
	        rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
	    };
	};

	leds {
	    led_power: led-power {
	        rockchip,pins = <0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
	    };
	};
};
