// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

 /dts-v1/;
#include <dt-bindings/display/media-bus-format.h>
#include "rk3568-firefly-iboard-3568q.dtsi"
#include "rk3568-firefly-iboard-3568q-cam-2ms2m.dtsi"

/ {
    model = "ITX-3568JQ HDMI+LVDS (Linux)";
    compatible = "rockchip,rk3568-firefly-itx-3568jq-lvds", "rockchip,rk3568";

    backlight:backlight {
        status = "okay";
        enable-gpios = <&pca9555 PCA_IO1_3 GPIO_ACTIVE_HIGH>;
        compatible = "pwm-backlight";
        pwms = <&pwm15 0 25000 1>;
        brightness-levels = <
             60  60  60  61  61  61  62  62
             62  63  63  63  64  64  64  65
             65  65  66  66  66  67  67  67
             68  68  68  69  69  69  70  70
             70  71  71  71  72  72  72  73
             73  73  74  74  74  75  75  75
             76  76  76  77  77  77  78  78
             78  79  79  79  80  80  80  81
             81  81  82  82  82  83  83  83
             84  84  84  85  85  85  86  86
             86  87  87  87  88  88  88  89
             89  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    lvds_panel: lvds-panel {
        compatible = "simple-panel";
        status = "okay";
        enable-gpios = <&pca9555 PCA_IO1_2 GPIO_ACTIVE_HIGH>;
        backlight = <&backlight>;
        enable-delay-ms = <35>;
        prepare-delay-ms = <6>;
        unprepare-delay-ms = <0>;
        disable-delay-ms = <20>;
        bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_SPWG>;
        display-timings {
            native-mode = <&timing0>;
            timing0: timing0 {
                clock-frequency = <72000000>;
                hactive = <800>;
                vactive = <1280>;
                hfront-porch = <50>;
                hsync-len = <10>;
                hback-porch = <50>;
                vfront-porch = <10>;
                vsync-len = <18>;
                vback-porch = <10>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
	    };

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                //dual-lvds-even-pixels;
                panel_in_lvds: endpoint {
                    remote-endpoint = <&lvds_out_panel>;
                };
            };
        };
    };
};

&lvds {
    status = "okay";
    ports {
        lvds_out:port@1 {
            reg = <1>;

            lvds_out_panel: endpoint {
                remote-endpoint = <&panel_in_lvds>;
            };
        };
    };
};

// lvds backlight pwm
&pwm15 {
    status = "okay";
};

// hdmi
&route_hdmi {
    status = "okay";
    connect = <&vp0_out_hdmi>;
};

&hdmi {
    status = "okay";
};

&hdmi_in_vp0 {
    status = "okay";
};

&hdmi_in_vp1 {
    status = "disabled";
};

//lvds
&dsi0 {
    status = "disabled";
};

&dsi0_in_vp0 {
    status = "disabled";
};

&dsi0_in_vp1 {
    status = "disabled";
};

&video_phy0 {
    status = "okay";
};

&lvds_in_vp1 {
    status = "okay";
};

&lvds_in_vp2 {
    status = "disabled";
};

&route_lvds {
    status = "okay";
    connect = <&vp1_out_lvds>;
};

&vop {
    status = "okay";
    assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
    assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
};

//gslx680 tp
&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    //i2c-scl-rising-time-ns = <800>;
    //i2c-scl-falling-time-ns = <100>;
    gslx680: gslx680@41 {
        status = "okay";
        compatible = "gslX680";
        reg = <0x41>;
        screen_max_x = <800>;
        screen_max_y = <1280>;
        touch-gpio = <&gpio0 RK_PC7 IRQ_TYPE_LEVEL_LOW>;
        reset-gpio = <&pca9555 PCA_IO1_0 GPIO_ACTIVE_HIGH>;
        flip-x = <1>;
        flip-y = <0>;
        swap-xy = <0>;
        gsl,fw = <1>;
    };

    mc3230_1: mc3230sensor@4c {
        compatible = "gs_mc3230";
        reg = <0x4c>;
        type = <SENSOR_TYPE_ACCEL>;
        irq_enable = <0>;
        poll_delay_ms = <30>;
        layout = <4>;
        status = "disabled";
    };
};

/delete-node/ &vcc3v3_lcd0_n;
/delete-node/ &vcc3v3_lcd1_n;
